* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #410707;
  font-size: 14px;
}

body {
  font-family: 'Winky Sans', sans-serif;
  background-color: #fff8ee;
  color: #410707;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* HEADER */
header {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: #e0b391;
}

.navLogo {
  font-family: 'Alfa Slab One', cursive;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 1.5px;
}
