* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #410707;
  font-size: 14px;
}

body {
  font-family: 'Winky Sans', sans-serif;
  background-color: #fff8ee;
  color: #410707;
  margin: 0;
  padding: 0;
  text-align: center;
}

main {
  width: 900px;
  margin: 3rem auto;
  text-align: center;
}

/* HEADER */
header {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: #e0b391;
}

.navLogo {
  font-family: 'Alfa Slab One', cursive;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 1.5px;
}

/* GRID */
.contestants {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
}

div {
  background-color: #fbe8d3;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 2rem;
}

/* GRID TEXT */
h2 {
  color: #841b1b;
  margin-top: 0.5rem;
}

.stat {
  color: #410707;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.description {
  color: #410707;
  margin-top: 0.5rem;
  border-top: 3px dashed #d99b6c;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  line-height: 1.5;
}

/* FOOTER */
footer{
  text-align: center;
  min-width: 100%;
  padding: 20px 0 30px 0;
  background-color: #d99b6c;
  color: #FFFFFF;
  margin-top: 4rem;
  font-size: 18px;
}

footer a {
  color: white;
  text-decoration: none;
}
